<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>timeline</title>
    <link href="__LAYUICSS__" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="layui-container" style="margin-top: 30px">
    <ul class="layui-timeline">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">1月18日</h3>
                <p>
                <blockquote class="layui-elem-quote">上午：杨璐，XXX，跟XXX去XXX。</blockquote>
                    <br><blockquote class="layui-elem-quote">下午：XXX,XX,XX采访XXX主任。</blockquote>
                <p style="margin-right:300px!important;color: red;">由XXX修改</p>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">1月19日</h3>
                <blockquote class="layui-elem-quote">上午：杨璐，XXX，跟XXX去XXX。
                水电费感受到法国
                    <br>是房东感受到法国

                </blockquote>
                <br><blockquote class="layui-elem-quote">下午：XXX,XX,XX采访XXX主任。</blockquote>
                <ul>
                    <li>XX未完成</li>
                    <li>XXX提出了什么要求</li>
                </ul>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">1月20日</h3>
                <blockquote class="layui-elem-quote">上午：杨璐，XXX，跟XXX去XXX。 水电费感受到法国
                    <br>是房东感受到法国
                </blockquote>
                <br><blockquote class="layui-elem-quote">下午：XXX,XX,XX采访XXX主任。</blockquote>
                <ul>
                    <li>XX未完成</li>
                    <li>XXX提出了什么要求</li>
                </ul>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">后天</div>
            </div>
        </li>
    </ul>
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>事件</th>
                        <th>修改人</th>
                        <th>是否公开(除自己外，其他人不可见)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2019-1-19</td>
                        <td>XXX跟XX到哪里</td>
                        <td>该信息由:XXX创建.XXX进行了修改</td>
                        <td>不公开</td>
                    </tr>
                    <tr>
                        <td>2019-1-20</td>
                        <td>XXX跟XX到哪里...</td>
                        <td>该信息由:XXX创建.XXX进行了修改</td>
                        <td>公开</td>
                    </tr>
                    </tbody>
                </table>
</div>
<script src="__LAYUIJS__"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#test'
            ,url:''
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'id', width:80, title: 'ID', sort: true}
                ,{field:'username', width:80, title: '用户名'}
                ,{field:'sex', width:80, title: '性别', sort: true}
                ,{field:'city', width:80, title: '城市'}
                ,{field:'sign', title: '签名', width: '30%', minWidth: 100} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{field:'experience', title: '积分', sort: true}
                ,{field:'score', title: '评分', sort: true}
                ,{field:'classify', title: '职业'}
                ,{field:'wealth', width:137, title: '财富', sort: true}
            ]]
        });
    });
</script>


</body>

</html>